<!DOCTYPE html>
<html lang="en">
<%-include ("../partial/head")%>
<body>
    <%-include ("../partial/header")%>    
    <main>
        <% if (productos.category=='Monopatines'){%>
        <% productos.forEach(producto => { %>
            <h3 class="text-center p-20 font-black bg-orange"><%= productos.name%></h3>
            <div>
              <img class=" img p-8 img2_detalle" src="/imagenes/<%=producto.image%>" alt="<%= producto.name%>"/>
            </div>
            <form action="/ventas/carrito" method="get">            
                <div>                          
                    <p class= "text-line">Batería: <%=producto.bateria%></p>
                    <p class= "text-line">Motor: <%=producto.motor%></p> 
                    <p class= "text-line">Cuadro: <%=producto.cuadro%></p> 
                    <p class= "text-line">Velocidad Maxima: <%=producto.velocidad_max%></p>
                    <h2 class="text-center p-20 font-black">Precio: $ <%=producto.price%></h2>
                    <div>
                        <button class="login-producto w-30" type="submit" id="color">Compra online</button>  
                    </div> 
                </div>
            </form>
        <%})}%>
        <form action="/" method="get">    
            <div>
                <button class="login-producto w-30" type="submit" id="color">Regresar</button>
            </div> 
        </form>  
    </main>   
    <%-include ("../partial/footer")%>
</body>
</html>