<!DOCTYPE html>
<html lang="en">
<head>    
  <%-include ("../partial/head")%>
</head>
<body>
    <%-include ("../partial/header")%>    
    <main>
        <script src="/js/jsProductEdit.js"></script>
              
        <h3 class="text-center p-20 font-black bg-orange">Estás editando: <%=producto.name %></h3> 
        <div class="errores">
        <ul></ul>
        </div>
        <form name="forProductEdit" id="forProductEdit"class="fx fx-wrap justify-center" action="/productos/update/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">             
            <div>
                <img class=" img p-8 img2_detalle" src="/imagenes/<%=producto.image%>" alt="<%= producto.name%>"/>
            </div>

            <label for="name" class="font-bold w-70 mt-8 p-8">Nombre:</label>
            <input class="login-forms mb-10" type="text" name="name" id="name" value="<%=producto.name%>">

            <label for="price" class="font-bold w-70 mt-8 p-8">Precio:</label>
            <input class="login-forms mb-10" type="number" name="price" id="price" value="<%=producto.price%>">
              
            <label for="avatar" class="font-bold w-70 mt-8 p-8">Cambio de Imagen:</label>
            <input class="w-70 mb-10" type="file" name="avatar" id="avatar">
            <%if (locals.errors && errors.avatar){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.avatar.msg%></label>   
            <%}%>

            <label for="category" class="font-bold w-70 pt-40 p-8">Categoría actual del producto:</label>             
            <select name="category_id" class="font-bold w-70 p-8">
                <%for (let i=0; i < categorias.length; i++){ %>
                    <% if (producto.categoria.id==categorias[i].id){%> 
                        <option value="<%=categorias[i].id%>" selected>
                            <%=categorias[i].category%>
                         </option>
                    <%}%>    
                    <option value="<%=categorias[i].id%>">
                       <%=categorias[i].category%>
                    </option>
                <%}%>
            </select>       
            <label for="description" class="font-bold w-70 mt-8 p-8">Descripcion:</label>
            <textarea class="textarea mb-10" type="text" name="description" id="description"><%=producto.description%></textarea>
    
            <button class="align-self-center update-buttons mt-15 m-8 w-45" id="update" type="submit" >Guardar modificaciones</button>
        </form>

        <form class="fx fx-wrap justify-center mb-30" action="/productos/delete/<%=producto.id%>?_method=DELETE" method="POST">
            <button class="align-self-center update-buttons m-8 w-45" id="delete" type="submit" id="color">Eliminar producto</button>                
        </form>
        
    </main>
    <%-include ("../partial/footer")%>
</body>
</html>