<!DOCTYPE html>
<html lang="en">
<head>    
   <%-include ("../partial/head")%>
</head>   
<body> 
    <%-include ("../partial/header")%>  
    <main>
            <h3 class="text-center font-black bg-orange">
                <nav class="fx fx-wrap justify-center">
                    <a href="/user/login" class="links">
                        <p class="text-center p-20 font-black">Iniciar sesión</p>
                    </a>
                    <p class="text-center align-self-center b-20">/</p>
                    <a href="/user/register" class="links">
                        <p class="text-center p-20 font-grey" id="link">Registrarse</p>
                    </a>
                </nav>
            </h3>    
    
            <form class="fx fx-wrap justify-center" action="/user/login" method="POST">  
                <p class="font-bold m-8 w-70 pt-40">Email:</p>   
               <input class="login-forms m-8" type="email" name="email" id="email" placeholder="Escriba su email">
               <%if (locals.errors && errors.email){%>
                  <label class="font-bold m-8 w-70 c-red"><%=errors.email.msg%></label>   
               <%}%> 
                              
               <p class="font-bold m-8 w-70">Contraseña:</p>   
               <input class="login-forms m-8" type="password" name="password" id="password" placeholder="Escriba su contraseña">
               <%if (locals.errors && errors.password){%>
                   <label class="font-bold m-8 w-70 c-red"><%=errors.password.msg%></label>   
               <%}%> 
               <div class="login-forms m-8" >
                    <label>
                        <input type="checkbox" name= "recordarUsuario">Recordar mi usuario</input>
                    </label>
               </div>

               <a href="#" class="align-self-center text-center w-70 p-10 links font-blue underline">Recordar tu contraseña?</a>
    
               <div class="align-self-center text-center w-70 p-20 pb-40">
                    <button class="login-buttons m-8 w-60" type="submit" id="color">Iniciar sesión</button>
                </div>      
            </form>
    
        </main>
    <%-include ("../partial/footer")%>
</body>
</html>