<!DOCTYPE html>
<html lang="en">
<head>
   <%-include ("../partial/head")%>
</head>   
<body>
    <%-include ("../partial/headerPerfil")%>    
    <main>  
        <h4 class="h3_letra">Bienvenido        
        <% if (locals.loggedUser) { %>
            <h4 class="h3_letra"><%= locals.loggedUser.name %></h4>
        <%}%></h4>
        
        <% if (locals.loggedUser) { %>
            <img src="/imagenes/<%= locals.loggedUser.image %>">
        <%}%>

 </main>
 <%-include ("../partial/footer")%>
</body>
</html>
