<!DOCTYPE html>
<html lang="en">
<head>    
  <%-include ("../partial/head")%>   
</head>
<body> 

    

    <%-include ("../partial/header")%>  
    <main>
        <script src="/js/jsRegister.js"></script>
        <h3 class="text-center font-black bg-orange">
            <nav class="fx fx-wrap justify-center">
                <a href="/user/register" class="links">
                    <p class="text-center p-20 font-black">Registrarse</p>
                </a>
                <p class="text-center align-self-center b-20">/</p>
                <a href="/user/login" class="links">
                    <p class="text-center p-20 font-grey" id="link">Iniciar sesión</p>
                </a>
            </nav>
        </h3>  
        <!--<div class="errores"> 
            <ul class="c-red"></ul> -->
        </div>
        <form name="forRegistro" id="forRegistro" enctype="multipart/form-data" class="fx fx-wrap justify-center" action="/user/register" method="POST">
            <label for="foto" class="font-bold w-70 pt-40">Foto:</label>
            <input class="w-70 mb-10" type="file" name="image" id="image"> 
            
            <label class="font-bold m-8 w-70">Nombre y apellido:</label>   
            <input class="login-forms m-8" type="text" name="name" id="name" placeholder="Escriba su nombre" value="<%=locals.old && old.name ? old.name: '' %>" >
        <span class="errorname c-red mb-8 w-70 "></span>
            <%if (locals.errors && errors.name){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.name.msg%></label>   
            <%}%>  
                        
            <label class="font-bold m-8 w-70">Nombre de usuario:</label>   
            <input class="login-forms m-8" type="text" name="user" id="user" placeholder="Escriba un nomrbre de usuario" value="<%=locals.old && old.user ? old.user: '' %>">
         <span class="erroruser c-red mb-8 w-70 "></span>
            <%if (locals.errors && errors.user){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.user.msg%></label>   
            <%}%>   

            <label class="font-bold m-8 w-70">Mail:</label>   
            <input class="login-forms m-8" type="email" name="email" id="email" placeholder="Escriba su mail" value="<%=locals.old && old.mail ? old.email: '' %>">   
        <span class="erroremail c-red mb-8 w-70 "></span>
            <%if (locals.errors && errors.email){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.email.msg%></label>   
            <%}%>

            <label class="font-bold m-8 w-70">Contraseña:</label>    
            <input class="login-forms m-8" type="password" name="password" id="password" placeholder="Escriba una contraseña" value="<%=locals.old && old.password ? old.password: '' %>"> 
        <span class="errorpassword c-red mb-8 w-70 "></span>
            <%if (locals.errors && errors.password){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.password.msg%></label>   
            <%}%>  

            <label class="font-bold m-8 w-70">Confirmar contraseña:</label>   
            <input class="login-forms m-8" type="password" name="confirmar" id="confirmar" placeholder="Repita la contraseña" >   
            <%if (locals.errors && errors.confirmar){%>
                <label class="font-bold m-8 w-70 c-red"><%=errors.confirmar.msg%></label>   
            <%}%>  
           <div class="align-self-center text-center w-70 p-20 pb-40">
                <button class="login-buttons m-8 w-45" id=color type="submit">Registrarse</button>
                <button class="login-buttons m-8 w-45" id=color type="reset">Borrar</button>
            </div>      
        </form>
    </main>
    <%-include ("../partial/footer")%>
</body>
</html>